
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

$blue-login: rgba(0, 16, 100, 1);
$turquoise: rgba(26, 188, 156, 1);
$blue-button: rgba(52, 152, 219, 1);
$yellow: rgba(241, 196, 15, 1);

html, body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 20px;
  overflow-x: hidden;

}

@import './components/_navBar';
@import './components/_form';
@import './components/_home';
@import './components/_wrapper';
@import '../../../node_modules/bulma_scss/bulma';