@import url('https://fonts.googleapis.com/css?family=Joti+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import './grid/Grid';
@import './queries/queries';
@import './components/components';
@import './components/animations';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  font-family: 'Bangers', cursive;
  font-weight: 400;
  font-size: 20px;
  overflow-x: hidden;

}

h1, h2, h3, h4 {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  color: white;
  margin: 5% 3%;
}

span {
  margin-top: 5%;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  color: #c2185b;
  margin-bottom: 30px;
}