$form-background: rgba(52, 73, 94, 0.7);
$form-shadow: rgba(26, 188, 156, 1);
$navbar-background: rgba(52, 73, 94, 1);
$navbar-shadow: rgba(26, 188, 156, 1);
$span-color: rgba(26, 188, 156, 1);
$h-color: rgba(231, 76, 60, 1);
$paragraph-color: rgba(44, 62, 80, 1);
$section-color: rgba(189, 195, 199, 1);
$background-color: rgba(189, 195, 199, 1);
$task-card-background: rgba(52, 73, 94, 1);
$task-card-shadow: rgba(26, 188, 156, 1);
$profile-card-background: rgba(52, 73, 94, 1);
$profile-card-shadow: rgba(26, 188, 156, 1);
$login-button-background: rgba(44, 62, 80, 1);
$signUp-button-background: rgba(232, 65, 24, 1);
$submit-button-background: rgba(26, 188, 156, 1);
$edit-button-background: rgba(26, 188, 156, 1);

