/* rgba(44,62,80,0.7) */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 81, 0.7);
  box-shadow: 0 5px 5px lightgray;
}

.main-nav {
  float: right;
  list-style: none;
}

.main-nav li {
  display: inline-block;
  margin: 20px 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 10px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid;
}
