
.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* fonts

 font-family: 'Supermercado One', cursive;
 font-family: 'Lato', Helvetica, sans-serif;
 font-family: 'Joti One', cursive;*/

/* colors:

NavBar color:#002171



 */

/* Box */

.box {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  height: 100%;
}

.colored {
  background-color: rgba(34, 48, 61, 0.7);
  border-radius: 30px;
  box-shadow: 10px 15px #1abc9c;
  margin-bottom: 20px;

}

.box.colored h1,
.box.colored h2,
.box.colored h3,
.box.colored h4,
.box.colored p {
  color: white;
}

h4 {
  font-weight: lighter;
}

/* Header*/

header {
  /*background-color: red;*/
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 10vh;
}

/* NavBar */

nav {
  height: 9vh;
}

.navBar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(49, 27, 146, 0.9);
  box-shadow: 0 1px 5px black;
  border-radius: 25px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 10px;
}

.main-nav li {
  cursor: pointer;
  display: inline-block;
  margin: 20px 20px;
  font-size: 120%;
  font-weight: bold;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid;
}

/* Buttons */
.button-list {
  list-style: none;
  margin: 10px 5px;
}

.button-list li {
  display: inline-block;
  text-decoration: none;
}

.btn {
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  display: inline-block;
  margin: 10px 5px;
  padding: 15px 25px;
  border-bottom: 2px transparent;
  border-radius: 10px;
  transition: color 0.5s, background-color 0.5s, border-bottom 0.5s;
}

.edit {
  background-color: #00c853;
  border-bottom: 2px solid;
}

.edit:hover,
.edit:link {
  color: black;
  background-color: white;
  transform: scale(1.02);
}

.submit {
  background-color: #2962ff;
  border-bottom: 2px solid;
}

.submit:hover,
.submit:link {
  background-color: white;
  color: black;
  transform: scale(1.02);

}

.remove {
  background-color: #c2185b;
  border-bottom: 2px solid;
}

.remove:hover,
.remove:link {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.start {
  background-color: #1565c0;
  border-bottom: 2px solid;
}

.start:hover,
.start:link {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.finish {
  background-color: #009688;
  border-bottom: 2px solid;
}

.finish:hover,
.finish:link {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.enrol {
  /*background-color: #4fc3f7;*/
  background-color: rgba(0, 33, 113, 1);
  border-bottom: 2px solid;
}

.enrol:hover,
.enrol:link {
  /*background-color: #b0e4fb;*/
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.view {
  background-color: #f57f17;
  border-bottom: 2px solid;
}

.view:hover,
.view:link {
  background-color: white;
  color: black;
  transform: scale(1.02);
}

.login {
  width: 90%;
  margin-left: 5%;
  background-color: #2962ff;
  border-bottom: 2px solid;
}

.login:hover,
.login:link {
  background-color: white;
  color: black;
}

.signup {
  width: 90%;
  margin-left: 5%;
  background-color: #c2185b;
  border-bottom: 2px solid;
}

.signup:hover,
.signup:link {
  background-color: white;
  color: black;
}

/* Forms */

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Lato', Helvetica, sans-serif;
}

form {
  /*position: absolute;
  top: 400%;
  left: 25%;*/
  background-color: rgba(4, 5, 7, 0.3);
  width: 20%;
  margin-left: 40%;
  margin-bottom: 5%;
  border-radius: 20px;
  box-shadow: 5px 7px white;
  /* rgba(0, 16, 100, 1); */
}

label {
  font-family: 'Lato', Helvetica, sans-serif;
  float: left;
  color: white;
  font-weight: bold;
  margin: 3% 7%;
}

input {
  /*margin-top: 10px;*/
  font-family: 'Lato', Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: bold;
  padding: 15px 8px;
  width: 90%;
  margin-left: 5%;
  /*width: 60%;
  margin-left: 30%;*/
  /*margin-bottom: 10px;*/
  border-radius: 5px;
}

form .signup {
  margin-bottom: 60px;
}

/* Task Card */

.task-card {
  background-color: rgba(34, 48, 61, 0.9);
  border-radius: 20px;
  width: 90%;
  margin-top: 10%;
  margin-left: 5%;
  box-shadow: 5px 10px #e91e63;
}

.task-description h3 {
  color: white;
}

.task-countdown h5,
.task-countdown span {
  color: white;
}

.task-buttons-list {
  list-style: none;
}

.task-buttons-list li button {
  width: 90%;
  margin-left: 5%;
}

.task-photo-figure {
  width: 98%;
  margin-left: 1%;
}

.round-photo {
  margin-top: 5%;
  border-radius: 25%;
}

/* Project card */

.project-photo-figure {
  width: 98%;
  margin-left: 1%;
}

.project-card {
  background-color: #0097a7;
  border-radius: 20px;
  width: 70%;
  margin-left: 15%;
  box-shadow: 5px 5px #e91e63;
}

.project-description h5 {
  color: white;
}

.project-button button {
  width: 90%;
  margin-left: 5%;
}

.projectName {
  color: red;
}

.eventDay {
  width: 90%;
  margin-left: 5%;
  background-color: black;
  border-radius: 10px;
}

/* Profile Card */

.profile-photo-figure {
  width: 98%;
  margin-left: 1%;
}

/* Login Page */

.header-login {
  background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../../img/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 100%);
}

.hero-text-box h1 {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-size: 400%;
  color: #16a085;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.hero-text-box {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-60%, -60%);
}

/* Profile Page */
.header-profile {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../../img/background4.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  /*clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);*/
}

#form {
  width: 90%;
  margin-left: 5%;
}

/*  Task Page   */
.header-task {
  background-color: #f5f6fa;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Stats page */

.creativity {
  color: #f1c40f;
}

.teamwork {
  color: #9b59b6;
}

.fitness {
  color: #f39c12;
}

.discipline {
  color: #3498db;
}

.research {
  color: #e74c3c;
}

.logic {
  color: #1abc9c;
}

.leadership {
  color: #27ae60;
}

.dopamine {
  color: #c0392b;
}

.comfort {
  color: #16a085;
}

.willpower {
  color: #2980b9;
}

.skills-header {
  background-color: rgba(44, 62, 80, 1);
}

.header-skills {
  margin: 15% 10%;
}

.progress {
  display: inline-block;
  margin: 30% 10%;
  border-radius: 10px;
  height: 50px;
  width: 70%;
  transform: rotate(-90deg);
}

progress::-webkit-progress-bar {
  height: 50px;
  border-radius: 10px;
  color: black;
}

progress::-webkit-progress-value {
  height: 50px;
  /*border-radius: 10px;*/
}

progress::-moz-progress-bar {
  border-style: solid;
  border-color: white;
  height: 50px;
  border-radius: 10px;
}

.health-indicators-header {
  background-color: rgba(44, 62, 80, 1);
}

.skills-health-indicators-section {
  background-color: rgba(44, 62, 80, 1);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


