@media (max-width: 1200px) {

}

/* Small tablet to big tablet: from 768px to 1023px */
@media (max-width: 1023px) {
  .hero-text-box {
    width: 90%;
    padding: 0 10%;
    top: 75%;
    margin-left: 5%;
  }
  form {
    width: 70% !important;
    margin-left: 15% !important;
  }
}

/* Phones smaller than the Ipad */
@media (max-width: 767px) {
  body {
    font-size: 18px;
  }
  .col {
    width: 100%;
  }
  .hero-text-box {
    margin-left: 5%;
    width: 90%;
    padding: 0 10%;
  }
  form {
    width: 80% !important;
    margin-left: 10% !important;
  }
}

@media (max-width: 480px) {
  form {
    font-size: 26px !important;
    width: 90% !important;
    margin-left: 5% !important;
  }
  .col {
    width: 100%;
  }

  body {
    font-size: 16px;
  }
}
